body {
    background: #509551;
}
.player {
    position: absolute;
    top: 50%;
    margin-top: -80px;
}

.player.left {
    left: 0;
}

.player.right {
    right: 0;
}

.boardWrapper {
    position: relative;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 288px;
    margin-top: -150px;
    margin-left: -140px;
}

.board table tbody tr td {
    vertical-align: middle;
    border: 0;
}

.crosshairs {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -140px;
}

.symbol {
    width: 82px;
    height: 74px;
    cursor: pointer;
}

.cross {
    background: url(../assets/cross.png) no-repeat center center;
}

.circle {
    background: url(../assets/circle.png) no-repeat center center;
}
